#headerName {
  text-decoration: underline;
  text-decoration-color: #ff6a6a;
}

.links a {
  transition: all 0.3s ease;
}

.links a:hover svg {
  fill: #ff6a6a;
  filter: drop-shadow(0 0 1.2px #ff6a6a);
}

.underline {
  height: 5px;
  background-color: #ff6a6a;
  width: 20%;
  transition: width 0.3s;
}
