.hoverlined {
  position: relative;
  overflow: hidden;
}

.hoverlined::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #ff6a6a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.hoverlined:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
