.techUsed {
  display: flex;
  list-style: none;
  border: 1px solid #ff6a6a;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 0rem 0.5rem;
  background-color: #0b161d;
}

.techItems {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 0;
}

.project-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  border-right: 4px solid#0B161D;
  border-bottom: 4px solid #0b161d;
  border-radius: 18px;
}

.cont-left {
  display: flex;

  flex-direction: column;
  gap: 2rem;
}
.cont-right {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 18px;
  align-items: center;
  padding: 1.5rem;
}

.project-pic {
  height: 24rem;
  width: 24rem;
  object-fit: contain;
  display: block;
  box-shadow: 4px 4px 0 #0b161d;
  transition: all 0.3s;
  border-radius: 18px;
}

.project-pic:hover {
  transform: translate(8px, 8px);
  box-shadow: none;
  border-right: 4px solid#0B161D;
  border-bottom: 4px solid #0b161d;
}

@media (max-width: 767px) {
  .project-cont {
    flex-direction: column;
  }
  .project-pic {
    border-radius: 18px;
    height: 18rem;
    width: 18em;
  }
}

.view-btn:hover {
  transform: translate(8px, 8px);

  box-shadow: none;
  border-right: 4px solid#0B161D;
  border-bottom: 4px solid #0b161d;
  background-color: #ff6a6a;
}

.view-btn {
  box-shadow: 4px 4px 0 #0b161d;
  transition: all 0.3s;
  background-color: #ff6a6a;
  border: none;
  width: 14rem;
}
.view-btn:active {
  outline: none;
}

.main-cont {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.btn.view-btn:active,
.btn.view-btn:focus,
.btn.view-btn.btn:focus:active {
  background-color: #ff6a6a;

  box-shadow: 2px 2px 0 #0b161d;
  outline: none;
}

.btn.view-btn:focus,
.btn.view-btn:active,
.btn.view-btn:active:focus {
  box-shadow: 2px 2px 0 #0b161d;
  border-right: 4px solid#0B161D;
  border-bottom: 4px solid #0b161d;
}
