.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  flex-basis: calc(
    25% - 40px
  ); /* 25% for 4 items in a row, minus a small gap */
  margin: 5px; /* Half of the 10px from above to create the gap */
  box-sizing: border-box;
}

.image-label {
  text-align: center;
  margin-top: 8px;
}

.flex-item img {
  max-width: 40%;
  display: block;
  margin: 0 auto;
}

@media (max-width: 400px) {
  /* Adjust as per your breakpoint needs */
  .flex-item {
    flex-basis: calc(
      40% - 10px
    ); /* Change to 50% for 2 items in a row on smaller screens */
  }
}

@media (max-width: 50px) {
  /* Adjust as per your breakpoint needs */
  .flex-item {
    flex-basis: 100%; /* One item per row on very small screens */
  }
}
