.image-label {
  text-align: center;
  margin-top: 8px;
}

.top-row,
.bot-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12rem;
}

img {
  width: 5rem;
  height: 5rem;
}

.skills-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .top-row,
  .bot-row {
    flex-direction: column;
    gap: 2rem;
  }
  img {
    width: 4rem;
    height: 4rem;
  }
  .skills-cont {
    flex-direction: row;
    gap: 8rem;
  }
}

.flex-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
